.App {
  
    text-align: center;
    /* background-color: #031926; */
    min-height: 100vh;
    background: url(../src/Components/Images/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk5Ni0wMDlfMS1rcm9pcjRkay5qcGc.jpg.webp);
}

body {
    /* background-color: #031926 !important; */
    position: relative;
}
  
html {
    /* this makes sure the padding and the border is included in the box sizing */
    box-sizing: border-box;
    overflow:hidden;
  
}
  
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: auto;
  
}

* {
    box-sizing: border-box;
}