.login-page {
    /* background-color: #031926; */
    display:flex;
    width: 100%;
    height: 100%; 
    top: 0;
    position:relative;
    min-height: 100%;

}
.info-text {
    width: 100%;
}
.login-row {
    position: relative;
    height: 100%;
}
.login-card-col {
    flex:1;
    height: 100%;
    min-height: 100%;
    max-height: auto;
    overflow-y:visible;
    box-sizing: border-box; /* Ensure padding is included in the element's total size */
}


.login-card {
    box-sizing: border-box;
    background-color: rgba(0, 0, 255, 0.5) !important;
    border-radius: 35px !important;  
    overflow-x:auto;
    overflow-y:auto;
    height: auto;
    backdrop-filter: saturate(200%) blur(25px);
    max-height: 100%;
    min-height: auto;
}

#login-form .form-control:focus{
    border: 1px solid #031926;
    box-shadow: none;
    background-color: #9DBEBB;
}

#login-form .custom-fields-2 {
    background-color: transparent;
    border: 1px solid #468189;
}


#login-form .custom-eye-Btn {
    background-color: transparent;
    color: #468189;
    border: 1px solid #468189;
    
}

#login-form .custom-eye-Btn:hover {
    background-color: #9DBEBB;
    border: 1px solid #468189;
}

.image-text {
    color: #F4E9CD;
}

@media (max-width: 1400px) {
    .image-text{
        font-size: 1.75em;
    }
}

.google-login-btn{
    width: 100%;
}

@media (min-width: 768px){
    #login-form, .google-login-btn {
        width: 70%;
    }
}

@media (min-width: 992px){
    #login-form, .google-login-btn {
        width: 70%;
    }
}

@media(max-width: 992px){
    #login-form, .google-login-btn {
        width: 80%;
    }
}
@media(max-width: 768px){
    #login-form, .google-login-btn {
        width: 100%;
    }
}

.login_title {
    color: #031926;
}
.login_subtitle {
    color: #031926;
    text-align: center;
}
.custom-btn-2{
    width:100%;
    margin: 6% 0;
    margin-top:15%;
}