.addshowtime-page {
    background-color: #031926;
    display:flex;
    width: 100%;
    height: 100%; 
    top: 0;
    position:relative;
    min-height: 100%;
}

.addshowtime-row {
    position:relative;
    height:100%;
    width: 100%;
}

.addshowtime-card {
    box-sizing: border-box;
    background-color: #77ACA2 !important;
    border-radius: 35px !important;  
    overflow-x:auto;
    overflow-y:auto;
    width: 35%;
    height: 80%;
    backdrop-filter: saturate(200%) blur(25px);
    min-height: auto;
    border:3px solid #F4E9CD !important;
}

.addshowtime-card-col {
    width:100%;
    height: 100%;
    min-height: 100%;
    max-height: auto;
    box-sizing: border-box; /* Ensure padding is included in the element's total size */

}

#rooms {
    width: 100%;
    background-color: transparent;
    border: 1px solid #468189;
    line-height: 15%;
    height: 15%;
}

#addshowtime-form .form-control:focus{
    border: 1px solid #031926;
    box-shadow: none;
    background-color: #9DBEBB;
}

#addshowtime-form .custom-fields {
    background-color: transparent;
    border: 1px solid #468189;
}

#addshowtime-form .custom-Btn {
    background-color: #031926;
    border: 1px solid #031926;
}

#oauth2-btn .custom-google-btn {
    background-color: transparent;
}
#oauth2-btn {
    background-color: transparent;
}


#addshowtime-form .custom-eye-Btn {
    background-color: transparent;
    color: #468189;
    border: 1px solid #468189;
}

#addshowtime-form .custom-eye-Btn:hover {
    background-color: #9DBEBB;
    border: 1px solid #468189;
}

.descform{
    width: 100%;
}

@media (max-width: 991px ){
    .addshowtime-card {
        height: 60%;
    }


}
